﻿<div>
    <div class="row text-right">
        <ul class="list-inline">
            <li><a href="#" id="gridview" class="btn btn-default switcher"><img src="icons/1.png" height="20" width="20" /></a></li>
            <li><a href="#" id="listview" class="btn btn-default switcher active"><img src="icons/2.png" height="20" width="20" /></a></li>
        </ul>
    </div>
    <ngcart-summary></ngcart-summary>
    <ul id="products" class="list clearfix">
        <li class="clearfix">
            <a href="#/CategoryTable" role="button">View details &raquo;</a>
            <section class="left" data-ng-repeat="item in items ">


                <p><button type="submit"  ng-click="getSubItems(item.Id)" class="btn btn-default"> <!--href="#/SubCategory"-->View details</button></p>
            </section>
        </li>
        <li><h1>fadsghsrtjhtj</h1></li>
    </ul>




</div>
