﻿<!--<div class="row">
    <div class="row text-right">
        <ul class="list-inline">
            <li><a href="#" id="gridview" class="btn btn-default switcher"><img src="icons/1.png" height="20" width="20" /></a></li>
            <li><a href="#" id="listview" class="btn btn-default switcher active"><img src="icons/2.png" height="20" width="20" /></a></li>
        </ul>
    </div>
</div>-->
<div class="row">
    <ngcart-summary></ngcart-summary>
</div>
<!--<div class="row">
    <ul id="products" class="list clearfix">
        <li class="clearfix">
            <a href="#/Category" role="button">View details &raquo;</a>
            <section class="left" data-ng-repeat="item in items ">
                <img href="#/table/{{item.Id}}" src="{{ item.Foto }}" width="150" height="150">
                <h4>{{ item.Name }}</h4>
                <ngcart-addtocart id="{{ item.Id }}" name="{{ item.Name }}" price="{{ item.Price }}" foto="{{ item.Foto }}" quantity="1" quantity-max="30" data="item"></ngcart-addtocart>
                <p><a class="btn btn-default" href="#/table/{{item.Id}}" role="button">View details &raquo;</a></p>
            </section>
            <section class="right" data-ng-repeat="item in items | filter:search:strict">
                <span class="price">{{ item.Price }}</span>
            </section>
        </li>

    </ul>
</div>-->
<div class="row">
    <div class="clearfix">
        <div class="right">
            <a class="btn-floating btn waves-effect waves-light red lighten-2" ng-class="{'active':mode==1}" ng-click="mode=1"><i class="mdi-action-view-module"></i></a>
            <a class="btn-floating btn waves-effect waves-light red lighten-2" ng-class="{'active':mode==2}" ng-click="mode=2"><i class="mdi-action-view-list"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div data-ng-repeat="item in items | filter:searchName" ng-class="{'col s12 m12 l12':mode==2, 'col s6 m4 l3':mode==1}">
        <div class="card" ng-hide="mode==2">
            <img  href="#/table/{{item.Id}}"  src="{{item.Foto}}">
            <h5>{{item.Name}}</h5>
            <ngcart-addtocart id="{{ item.Id }}" name="{{ item.Name }}" price="{{ item.Price }}" quantity="1" quantity-max="30" data="u"><i class="mdi-action-add-shopping-cart"></i></ngcart-addtocart>
            <p><a class="btn btn-default" href="#/table/{{item.Id}}" role="button">View details &raquo;</a></p>
            <br />
        </div>
        <div class="card" ng-hide="mode==1">
            <img href="#/table/{{item.Id}}" src="{{item.Foto}}">
            <div class="col s6 m8 l9">
                <p>
                    Название продукта:{{item.Name}}
                    Цена:{{item.Price}}
                    <ngcart-addtocart id="{{ item.Id }}" name="{{ item.Name }}" price="{{ item.Price }}" quantity="1" quantity-max="30" data="u"><i class="mdi-action-add-shopping-cart"></i></ngcart-addtocart>
                </p>
            </div>
        </div>
    </div>
</div>
