﻿        <!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Items list</title>

    <!--Import materialize.css-->
    <link href="materialize/css/materialize.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body ng-app="ItemsModule">
    <div class="container">
        <div class="row">
            <div class="col s12 l3 m3 center">
                <div class="row">
                    <div class="card-panel">
                        <h3>Категории</h3>
                        <hr />
                        <div class="row" ng-controller="categoryController" >
                            <!--<ul class="collapsible" data-collapsible="expandable"data-ng-repeat="item in items">
                                <li>
                                    <div class="collapsible-header">
                                        <a ng-click="getCategoryId()" href="#/table/{{ item.product_Category }}" class="h4"> {{ item.product_Category }} </a>
                                    </div>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li data-ng-repeat="item2 in CategoryItems ">
                                                <a class="btn red lighten-2 col s12 waves-effect waves-light" href="#/table/{{ item.product_Category }}/{{ item2.SubName }}">{{ item2.SubName }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>-->


                            <ul id="products">
            <li class="clearfix">
                <ul data-ng-repeat="item in items ">
                    <li>
                        <a ng-click="getCategoryId()" href="#/table/{{ item.product_Category }}" class=" h4"> {{ item.product_Category }} </a>
                    </li>
                    <li data-ng-repeat="item2 in CategoryItems ">
                        <p>
                            <button type="submit" ng-click="getSubItems(item2)" class="btn">{{item2.SubName}}</button>
                        </p>
                        <hr />
                    </li>
                </ul>
            </li>
        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l9 m9 center">
                <a href="#/table">Таблица</a>|<a href="#/cart">Корзина</a>|<a href="#/registration">Регистрация</a>|<a href="#/login">Логин</a>
                <ng-view></ng-view>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/ngCart.js"></script>
    <script src="js/AngularController/itemController.js"></script>
    <script src="js/AngularController/loginController.js"></script>
    <script src="js/AngularController/categoryController.js"></script>
    <script src="js/AngularController/subCategoryController.js"></script>

    <!--Materialze js-->

    <script src="materialize/js/animation.js"></script>
    <script src="materialize/js/buttons.js"></script>
    <script src="materialize/js/cards.js"></script>
    <script src="materialize/js/character_counter.js"></script>
    <script src="materialize/js/collapsible.js"></script>
    <script src="materialize/js/dropdown.js"></script>
    <script src="materialize/js/forms.js"></script>
    <script src="materialize/js/global.js"></script>
    <script src="materialize/js/hammer.min.js"></script>
    <script src="materialize/js/jquery.easing.1.3.js"></script>
    <script src="materialize/js/jquery.hammer.js"></script>
    <script src="materialize/js/leanModal.js"></script>
    <script src="materialize/js/materialbox.js"></script>
    <script src="materialize/js/parallax.js"></script>
    <script src="materialize/js/pushpin.js"></script>
    <script src="materialize/js/scrollFire.js"></script>
    <script src="materialize/js/scrollspy.js"></script>
    <script src="materialize/js/sideNav.js"></script>
    <script src="materialize/js/slider.js"></script>
    <script src="materialize/js/tabs.js"></script>
    <script src="materialize/js/toasts.js"></script>
    <script src="materialize/js/tooltip.js"></script>
    <script src="materialize/js/transitions.js"></script>
    <script src="materialize/js/velocity.min.js"></script>
    <script src="materialize/js/waves.js"></script>
</body>
</html>
